<h1>Let the court begin</h1>
<% team_users  = Group.find(params["id"].to_i ).users.all.collect{ |x| x.username } %>
<% group_charges = Group.find(params["id"].to_i ).users.all.collect{ |x| x.charge_ids } %>
<div class="container">
  <% team_users.each_with_index do |name, index| %>
  <div class="card text-center">
    <div class="card-header">
      <%= name.capitalize %>'s Charges
    </div>
    <div class="card-body">
      <% if group_charges[index].empty? %>
        <h5 class="card-title">Has no Charges Against</h5>
        <p class="card-text">Seems like they have been a good citizen</p>
      <% else %>
        <% group_charges[index].each do |charge| %>
        <% judge = (team_users.select{ |x| x != Charge.find(charge).user.username }).sample %>
          <% current_charge = Charge.find(charge) %>
          <h5 class="card-title">
            Judge: <%= judge.capitalize %>
          </h5>
          <h5 class="card-title">
            <%= current_charge.category %>
            </h5>
          <p class="card-text"><%= current_charge.description %></p>

          <% if current_charge.sentence.nil? %>
          <%= link_to "Sentence", new_group_charge_sentence_path(Group.find(params[:id]), current_charge), class: "btn btn-primary" %>
          <%= link_to "Not Guilty", group_charge_path(Group.find(params[:id]), current_charge), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-primary" %>
          <% else %>
          <h5>Sentence: <%= current_charge.sentence.name %></h5>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="card-footer text-muted">
    </div>
  </div>
  <% end %>
  <%= link_to "Session Adjourned", group_path, class: "btn btn-primary" %>
</div>



