<div class="content-dashboard row m-0 p-0">

  <div class="col-0 col-lg-2 p-0 d-none d-lg-flex flex-column" style="position: sticky; flex: 1">
    <div style="height: 100vh; background-color: #224C8E">
      <%= render 'shared/left_sidebar' %>
    </div>
  </div>

  <div class="col-7 p-4 d-none d-lg-flex flex-column" style="position: sticky; flex: 1">
    <h1 class="dashboard-heading">Dashboard</h1>

    <h3 class="text-center">Your Teams</h3>
    <div class="team-cards">
      
    <% @groups.each do |group| %>
      <%= link_to group_path(group), :style => "text-decoration: none; color: black;" do %>
      <div class="card team-card">
        <h5><%= group.name %></h5>
        <p><%= group.users.count %> group members</p>
        <i class="fas fa-arrow-right"></i>
      </div>
      <% end %>
    <% end %>
    </div>

    <!-- <h3>Join a new team</h3>
    <p>Add form to join/create a new group</p> -->
    <div class="d-flex justify-content-center">
      <div class="btn btn-primary">Join a new team</div>
    </div>
  </div>

  <div class="col-3 p-4 d-none d-lg-flex flex-column" style="position: sticky; flex: 1">
    <%= render partial: "shared/scoreboard" %>

    <%= render 'shared/commitments' %>
  </div>
</div>
