<!-- <div class="content-dashboard row m-0 p-0" style="height: 100vh"> -->

  <div class="col-0 col-lg-2 p-0 d-none d-lg-flex flex-column" style="position: sticky; flex: 1">
    <div style="height: 100vh; background-color: #224C8E">
      <%= render 'shared/left_sidebar' %>
    </div>
  </div>

  <div class="col-8 p-4 d-none d-lg-flex flex-column" style="position: sticky; flex: 1; height: 100vh; overflow: scroll">
    <h3><%= @group.name %> <i class="fas fa-arrow-right"></i> <%= link_to "Start Trial", court_path(@group), class: "btn btn-secondary" %></h3>

    <div class="card-grid">
      <% Group.find(params[:id]).user_ids.each do |x| %>
        <% y = User.find(x) %>
        <div class="card" >
          <img src="https://scontent-syd2-1.xx.fbcdn.net/v/t1.0-9/38450845_10156744372604448_627472839087226880_o.jpg?_nc_cat=107&_nc_sid=85a577&_nc_oc=AQkUZMmVwxZwjPkeRpi3k6EC_unlitWNpevE8xA076-T0GbvQP7OHt8NlT4vTdodaZw&_nc_ht=scontent-syd2-1.xx&oh=2673d38eff95987d1fd8b0d4266956da&oe=5EB05447" class="card-img-top avatar" alt="...">
          <div class="card-body">
            <h5 class="card-title text-center mb-1"><%= y.username %></h5>
            <p class="card-text">
            <div class="score-bar d-flex flex-row">
              <div class="commitments-filler" style="width: <%= y.commitments_score %>%;">
              </div>
              <div class="charges-filler" style="width: <%= y.charges_score %>%;">
              </div>
            </div>
            <h6 class="card-subtitle mt-2 text-center"><%= y.commitments.count %> commitments</h6>
            <h6 class="card-subtitle mt-2 text-center"><%= y.charges.count %> charges</h6>
            <h6 class="card-subtitle mt-2 text-center"><%= y.sentences.count %> sentences</h6>
            </p>

            <!-- Modal button -->
            <div class="text-center">
              <button type="button" class="btn btn-primary my_link" id="btnModal" data-toggle="modal" data-target="#my-modal" data-val=<%= y.id %> data-name= <%= y.username %> >
                Snitch em up'
              </button>
            </div>

          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="col-2 p-1 d-none d-lg-flex flex-column" style="position: sticky; flex: 1; height: 100vh; overflow: scroll">
    <%= render partial: "shared/scoreboard" %>
    <%= render 'shared/commitments' %>
  </div>

</div>

<!-- Modal -->
<div class="modal fade" id="my-modal" tabindex="-1" role="dialog" aria-labelledby="my-modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel"></h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render 'lay_charges_partial' %>
      </div>
    </div>
  </div>


<script>
  modalbtns = document.querySelectorAll('#btnModal')

  modalbtns.forEach(btn => {
    btn.addEventListener('click', (event) => {
      let name = event.target.dataset["name"];
      let value = event.target.dataset["val"];

      document.querySelector(".modal-title").innerText = "Snitch " + name;
      document.getElementById("charge_user_id").value = value;
    });
  });
</script>
