<h1>Testing dat scoreboard</h1>

<div class="card score-card" style="width: 14rem;">
  <div class="card-body">
    <h5 class="card-title text-center mt-3 mb-3">SCOREBOARD</h5>

    <div class="score-bar d-flex flex-row">
      <div class="commitments-filler" style="width: <%= current_user.commitments_score %>%;">
      </div>
      <div class="charges-filler" style="width: <%= current_user.charges_score %>%;">
      </div>
    </div>
    <br>
    <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
    <h6 class="card-subtitle mt-2 mb-3 text-center"><%= current_user.commitments.count %> commitments</h6>
    <h6 class="card-subtitle mb-3 text-center"><%= current_user.charges.count %> charges</h6>
    <h6 class="card-subtitle mb-3 text-center"><%= current_user.sentences.count %> sentences</h6>
  </div>
</div>
